.App {
  margin: 20px;
}

.weather-app {
  font-family: "Josefin Sans", sans-serif;
}

.green {
  background-color: #64958f;
  border: solid 2.02px;
  border-color: #64958f;
  padding: 40px 40px 5px 40px;
  margin: 10px auto 0 auto;
  width: 500px;
  display: block;
  color: white;
  border-radius: 10px 10px 0 0;
}

.white {
  background-color: white;
  color: #64958f;
  border-right: solid 2.02px;
  border-bottom: solid 2.02px;
  border-left: solid 2.02px;
  padding: 40px 40px 5px 40px;
  margin: 0 auto 0px auto;
  width: 500px;
  display: block;
  border-radius: 0 0 10px 10px;
}

img {
  display: block;
  margin: 0 auto;
  width: 500px;
  position: relative;
}

#temperature {
  text-align: center;
  padding: 5px 20px 0 20px;
  font-size: 50px;
}

#information {
  font-size: 15px;
  margin: -100px 0 0 230px;
}

#forecast-image {
  width: 50px;
  display: block;
  margin: 0 auto;
  position: relative;
}

.change {
  padding: 40px 0 0 0;
}
.day {
  margin: 0px;
}

.next-days i {
  display: block;
  margin: 0;
  text-align: center;
}

.signature {
  text-align: center;
}

.col-3 {
  text-align: center;
}
