.search {
  display: block;
  margin: 0 auto;
}

#celsius,
#fahrenheit {
  color: white;
}

#geolocation {
  margin: 0 0 0 10px;
}

#geolocation: hover {
  cursor: pointer;
}

#choose {
  padding: 0;
  font-size: larger;
}

#icon-big {
  margin: 0 0 -20px 20px;
  padding: 0;
  width: 150px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li:first-letter {
  text-transform: capitalize;
}

#description {
  text-align: center;
  font-size: 30px;
  padding: 0;
  margin: 0;
}

#description-weather {
  font-size: 20px;
}

#last-updated {
  padding: 0 0 0 18px;
}
